<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <title>MATCHON</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
  <script th:src="@{/js/matchup/matchup-board-detail.js}" defer></script>
  <style>
    a {
      display:block;
    }
  </style>
</head>
<body>

<div th:replace="~{common/header::header}"></div>
<div id="wrap">
  <h1>MATCHUP 글 상세보기</h1>
  <div id="matchup-board-detail-dto"
       th:data-board-id="${resMatchupBoardDto.boardId}"
       th:data-writer="${resMatchupBoardDto.writer}"
       th:data-team-name="${resMatchupBoardDto.teamName}"
       th:data-sports-type="${resMatchupBoardDto.sportsTypeName}"
       th:data-team-intro="${resMatchupBoardDto.teamIntro}"
       th:data-sports-facility-name="${resMatchupBoardDto.sportsFacilityName}"
       th:data-sports-facility-address="${resMatchupBoardDto.sportsFacilityAddress}"
       th:data-match-date="${#temporals.format(resMatchupBoardDto.matchDatetime, 'yyyy-MM-dd HH:mm')}"
       th:data-match-duration="${resMatchupBoardDto.matchDuration}"
       th:data-current-participant-count="${resMatchupBoardDto.currentParticipantCount}"
       th:data-max-participants="${resMatchupBoardDto.maxParticipants}"
       th:data-min-manner-temperature="${resMatchupBoardDto.minMannerTemperature}"
       th:data-match-description="${resMatchupBoardDto.matchDescription}"
       th:data-original-name="${resMatchupBoardDto.originalName}"
       th:data-saved-name="${resMatchupBoardDto.savedName}"
       th:data-saved-path="${resMatchupBoardDto.savedPath}"
       th:data-my-temperature="${resMatchupBoardDto.myTemperature}"
       th:data-base-url="${@environment.getProperty('S3_BASE_URL')}"
  >
  </div>
  <table>
    <tr>
      <th>종목: </th>
      <td th:text="${resMatchupBoardDto.sportsTypeName}"></td>
    </tr>
    <tr>
      <th>소속팀:</th>
      <td th:text="${resMatchupBoardDto.teamName}"></td>
    </tr>
    <tr>
      <th>팀 소개:</th>
      <td th:text="${resMatchupBoardDto.teamIntro}"></td>
    </tr>
    <tr>
      <th>경기장 예약내역:</th>
      <td th:text="${resMatchupBoardDto.originalName}"></td>
    </tr>
    <tr>
      <th>경기장명:</th>
      <td th:text="${resMatchupBoardDto.sportsFacilityName}"></td>
    </tr>
    <tr>
      <th>경기장 주소:</th>
      <td th:text="${resMatchupBoardDto.sportsFacilityAddress}"></td>
    </tr>
    <tr>
      <th>경기장 위치</th>
      <td>카카오맵 표시</td>
    </tr>
    <tr>
      <th>경기 진행 시간</th>
      <td>자바스크립트 계산</td>
    </tr>
    <tr>
      <th>참가인원</th>
      <td>자바스크립트 계산</td>
    </tr>
    <tr>
      <th>신청 가능 여부</th>
      <td>자바스크립트 계산</td>
    </tr>
    <tr>
      <th>매너온도</th>
      <td>자바스크립트 계산</td>
    </tr>
    <tr>
      <th>경기 진행 방식</th>
      <td th:text="${resMatchupBoardDto.matchDescription}"></td>
    </tr>
  </table>
  <a th:href="@{/matchup/board/edit}" disabled="true">수정하기(내가 작성한 경우)</a>
  <a th:href="@{#}">문의하기</a>
  <a th:href="@{/matchup/request}">참가요청</a>
</div>

<div th:replace="~{common/footer::footer}"></div>
<!--<script defer>-->
<!--  const myTemperature = document.querySelector("#matchup-board-detail-dto").dataset.myTemperature;-->
<!--  console.log(myTemperature);-->

<!--  const url = document.querySelector("#matchup-board-detail-dto").dataset.baseUrl;-->
<!--  console.log(url);-->
<!--</script>-->

</body>
</html>