<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>MATCHON</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
    <script th:src="@{/js/matchup/matchup-mygame-rating.js}" defer></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/aibot/aichatbot.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/matchup/matchup-mygame-rating.css}">

</head>
<body>

<div th:replace="~{common/header::header}"></div>
<div id="wrap">

    <div id="matchup-rating-detail-dto"
         th:data-board-id="${boardId}"
    >
    </div>
    <h2 class="page-title">MATCHUP 매너 온도 평가</h2>

    <div class="topbar-buttons">
        <button class="back-btn" onclick="location.href='/matchup/mygame/page'">뒤로가기</button>
    </div>

    <table class="board-table">
        <thead>
        <tr>
            <th class="col-target">상대방</th>
            <th class="col-received-score">받은 점수</th>
            <th class="col-received-review">받은 후기</th>
            <th class="col-sended-score">보낸 점수</th>
            <th class="col-sended-review">보낸 후기</th>
            <th class="col-sending">후기 작성</th>
        </tr>
        </thead>
        <tbody id="match-container"></tbody>
    </table>

    <div id="paging-container">

    </div>

</div>

<div th:replace="~{common/footer::footer}"></div>
</body>
</html>