/*제목*/
.page-title {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #2c3e50;
}

.topbar-buttons {
    display: flex;
    gap: 0.8rem;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: 2rem;
}

.send-btn,
.topbar-buttons button {
    background-color: dodgerblue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.send-btn:hover,
.topbar-buttons button:hover{
    background-color: royalblue;
}

.send-btn.disabled{
    background-color: #bcbcbc;
    color: white;
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: auto;
}

/* 마우스 올려도 hover 효과 제거 */
.send-btn.disabled:hover {
    background-color: #bcbcbc;
    color: white;
}


/* ===== 게시판 테이블 ===== */
.board-table {
    width: 100%;
    margin: 30px auto;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
    background: #fff;
    border: 2px solid dodgerblue;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.board-table th,
.board-table td {
    padding: 16px 18px;
    text-align: left;
    font-size: 15px;
    word-wrap: break-word;
    border-bottom: 1px solid #ddd;
}

.board-table th {
    background-color: #eaf4fb;
    font-weight: 700;
    color: #2c3e50;
}

.board-table td {
    background-color: #ffffff;
}

.board-table tr:hover {
    background-color: #e1f3ff;
}

/* ===== 테이블 열 너비 설정 ===== */
.col-target {width: 10%}
.col-received-score {width:10%}
.col-received-review {width:30%}
.col-sended-score {width:10%}
.col-sended-review {width:30%}
.col-sending {width: 10%}



/*!* 후기 쓰기/보내기 버튼 *!*/
/*.send-btn {*/
/*    background-color: #0077cc;*/
/*    color: white;*/
/*}*/

/*.send-btn:hover {*/
/*    background-color: #005fa3;*/
/*}*/

/*!* 받은 후기 버튼 *!*/
/*.receive-btn {*/
/*    background-color: #ccc;*/
/*    color: #333;*/
/*}*/

/*.receive-btn:hover {*/
/*    background-color: #aaa;*/
/*}*/

/* ===== 페이징 ===== */
#paging-container button {
    text-align: center;
    margin: 0 5px;
    padding: 8px 14px;
    border: 1px solid #ddd;
    color: #333;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    background-color : white;
}

/* hover 효과도 동일하게 */
#paging-container button:hover {
    background-color: #e0e0e0;
}

/* 활성화된 버튼 */
#paging-container button.active {
    background-color: dodgerblue;
    color: white;
    border-color: dodgerblue;
    cursor: not-allowed;
}

/* 페이징 영역 가운데 정렬 */
#paging-container {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 2rem;
}

.no-result {
    text-align: center;
    font-size: 1.2rem;
    color: #777;
    padding: 2rem 0;
}


.truncate {
    width: 385px;           /* 너비 고정 */
    white-space: wrap;    /* 줄바꿈 없음 */

}



